<div class="container">
  <div class="row">
    <div class="col">
        <h1><%= @restaurant.name %></h1>
      <br>
      <p> Address: <%= @restaurant.address %> </p>
      <br>
      <p> Phone: <%= @restaurant.phone_number %> </p>
      <br>
      <p> Category: <%= @restaurant.category %> </p>
      <br>
      <h4>Reviews: </h4>
        <p>
          <% @restaurant.reviews.each do |review| %>
            <ul>
              <li>
                <%= review.content %>
              </li>
            </ul>
          <% end %>
        </p>

    </div>
    <p>
<%= link_to restaurants_path do  %>
  <i class="fas fa-undo-alt"></i>Back to list
<% end %>
</p>

<p>
<%= link_to "Edit", edit_restaurant_path(@restaurant)%>
</p>

<p>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant)%>
</p>

  </div>
</div>
